.emailPasswordFieldsWrapper {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  min-width: 353px;
  max-width: 100%;
  align-self: center;
}
.immagineloginIcon {
  width: 40vw;
  height: 100svh;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.login {
  width: 100%;
  position: relative;
  background-color: var(--blackampwhite-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
  gap: var(--gap-xl);
  height: 100vh;

}

@media screen and (max-width: 1625px) {
  .emailPasswordFieldsWrapper,
  .immagineloginIcon {
    flex: 1;
  }
  .login {
    flex-wrap: wrap;

    box-sizing: border-box;
  }
}
@media screen and (max-width: 1325px) {
  .login {
    flex-wrap: wrap;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .emailPasswordFieldsWrapper {
    box-sizing: border-box;
    min-width: 100%;
    height: 75vh;
    width: 100%;
    justify-content: center;
  }
  .login{
    width: 100%;
    justify-content: center;
  }
  .immagineloginIcon{
    height: 25vh;
  }
}

@media screen and (max-width: 420px) {
  /* .immagineloginIcon{
    height: 150px;
  } */

  .emailPasswordFieldsWrapper{
    /* padding: 100px 0 0; */
  }
  .login{
    padding: 0 ;
    padding-bottom: 0px;
  }
  
}
