.benRitornato {
  margin: 0;
  width: 226px;
  position: relative;
  font-size: inherit;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.inserisciLaMail {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.benRitornatoParent,
.inserisciLaMailELaPassworWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inserisciLaMailELaPassworWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-9xs);
  font-size: var(--font-size-sm);
  color: var(--gray-gray-400);
}
.benRitornatoParent {
  /* width: 331px; */
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
  max-width: 100%;
  /* text-align: center; */
  font-size: var(--font-size-13xl);
  color: var(--teal-teal-300);
}
.email {
  position: relative;
  line-height: 140%;
  display: inline-block;
  min-width: 35.5px;
}
.emailWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
}
.laTuaEmail {
  /* width: 119.5px; */
  border: 0;
  outline: 0;
  font-family: var(--font-helvetica);
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 19.5px;
  position: relative;
  line-height: 140%;
  color: var(--gray-gray-400);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  padding: 0;
}
.passwordTextIcon {
  width: 35px;
  height: 3.5px;
  position: relative;
  display: none;
}
.content {
  height: 0;
  width: 0;
  position: relative;
}
.email1,
.frameParent,
.minwidth {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.minwidth {
  height: 0;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0 var(--padding-55xl);
  box-sizing: border-box;
}
.email1,
.frameParent {
  align-self: stretch;
  flex-direction: column;
}
.email1 {
  border-radius: var(--br-mini);
  background-color: var(--blackampwhite-white);
  border: 1px solid var(--gray-gray-200);
  overflow: hidden;
  padding: var(--padding-sm) var(--padding-xl);
}
.frameParent {
  gap: var(--gap-7xs-5);
}
.password {
  position: relative;
  line-height: 140%;
  display: inline-block;
  min-width: 61.5px;
}
.passwordWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
}
.laTuaPassword {
  /* width: 109px; */
  height: 20px;
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 109px;
  padding: 0;
}
.passwordTextIcon1 {
  width: 35px;
  height: 3.5px;
  position: relative;
  display: none;
}
.content1 {
  height: 0;
  width: 0;
  position: relative;
}
.email2,
.frameGroup,
.minwidth1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.minwidth1 {
  height: 0;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0 var(--padding-55xl);
  box-sizing: border-box;
}
.email2,
.frameGroup {
  align-self: stretch;
  flex-direction: column;
}
.email2 {
  border-radius: var(--br-mini);
  background-color: var(--blackampwhite-white);
  border: 1px solid var(--gray-gray-200);
  overflow: hidden;
  padding: var(--padding-smi) var(--padding-xl) var(--padding-sm);
  color: var(--gray-gray-400);
}
.frameGroup {
  gap: var(--gap-7xs-5);
}
.switchbaseChild {
  width: 13.5px;
  height: 13.5px;
  position: relative;
  border-radius: 50%;
  background-color: var(--blackampwhite-white);
}
.switchbase {
  height: 18.5px;
  width: 36px;
}
.ricordami {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.switchbaseParent {
  /* width: 145.5px; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  font-size: var(--font-size-xs);
}
.div {
  position: relative;
  font-size: var(--font-size-2xs);
  line-height: 12px;
  font-family: var(--font-font-awesome-5-free);
  color: var(--color-black);
  text-align: center;
}
.icon {
  height: 8px;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.div1,
.text {
  position: relative;
  text-align: center;
}
.text {
  flex: 1;
  font-size: var(--font-size-3xs);
  line-height: 150%;
  display: inline-block;
  font-family: var(--font-helvetica);
  color: var(--blackampwhite-white);
  min-width: 37.5px;
}
.div1 {
  font-size: var(--font-size-2xs);
  line-height: 12px;
  font-family: var(--font-font-awesome-5-free);
  color: var(--color-black);
}
.icon1 {
  height: 8px;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.buttonBody,
.heightStructure {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.buttonBody {
  flex: 1;
  overflow: hidden;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.heightStructure {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-8xs-5) 0;
}
.content2 {
  height: 0;
  width: 0;
  position: relative;
  background-color: var(--color-silver);
}
.minwidth2 {
  height: 0;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
}
.accedi,
.widthStructure {
  display: flex;
  align-items: center;
  justify-content: center;
}
.widthStructure {
  width: 37.5px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
}
.accedi {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs-4) var(--padding-xl) var(--padding-2xs-6);
  background-color: var(--teal-teal-300);
  align-self: stretch;
  border-radius: var(--br-xs);
  flex-direction: row;
}
.b,
.registrati {
  color: var(--teal-teal-300);
}
.nonHaiUnContainer {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  text-align: center;
  color: var(--gray-gray-400);
}
.emailPasswordFields {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--gray-gray-700);
  font-family: var(--font-helvetica);
}
@media screen and (max-width: 900px) {
  .benRitornato {
    font-size: var(--font-size-7xl);
    line-height: 33px;
  }
  .email2 {
    max-width: 500;
  }

  .emailPasswordFields{
    padding: 0 20px 0 20px ;
  }
}

