/* LineChart.module.css */

.chartContainer {
    width: 500px;
    height: 400px;
  }
  
  .chart {
    width: 100%;
    height: 100%;
  }
  
  @media (max-width: 420px) {
    .chartContainer {
      width: 100%;
      height: 300px;
    }
  }
  