.straordinari1 {
  position: relative;
  line-height: 140%;
  display: inline-block;
  min-width: 107px;
}
.image1Icon {
  height: 384.5px;
  width: 800px;
  position: relative;
  object-fit: cover;
  max-width: 113%;
  flex-shrink: 0;
}
.graficostraordinari,
.straordinari {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.graficostraordinari {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  font-family: var(--font-helvetica);
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  background-color: var(--blackampwhite-white);
  padding: 20px;
}
.straordinari {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  /* gap: var(--gap-5xl); */
  min-width: 335px;
  text-align: left;
  font-size: var(--font-size-lg-8);
  color: var(--gray-gray-700);
  font-family: var(--font-helvetica);
  gap: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 450px) {
  .graficostraordinari {
    gap: var(--gap-10xl);
    padding: 10px;
    justify-content: center;
  }
}
