.ferie {
  position: relative;
  display: inline-block;
  min-width: 54px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.1;
}
.value {
  width: calc(100% - 0px);
  border: 0;
  outline: 0;
  background-color: transparent;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  font-family: var(--font-helvetica);
  font-weight: 500;
  font-size: var(--font-size-lg);
  color: black;
  min-width: 47px;
  font-size: 20px;
}
.valorecontent {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 10px;
}
.immagineIcon {
  height: 80%;
  width: auto;
  position: relative;
  object-fit: contain;
}
.valore {
  min-width: 280px; /* Ensure it doesn't shrink below 250px */
  height: 90px;
  width: auto; /* Allow it to grow */
  max-width: 100%; /* Ensure it doesn't grow beyond the container width */
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  background-color: var(--blackampwhite-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-xs);
  color: black;
  font-family: var(--font-helvetica);
  flex: 1;

}
@media screen and (max-width: 450px) {
  .valore {
    flex-wrap: wrap;
    width: 100%;
  }
}

@media screen and (max-width: 321px) {
  .valore {
    flex-wrap: wrap;
    width: 100%;
    min-width: 250px;
  }
}

